{% extends 'layout/index.twig' %}

{% block body %}
	<ul class="listing">
	{% for product in products %}
		<li class="card">
			<a href="/products/view/{{ product.id }}" title="View more">
				<figure>
					<img class="card-img-top" src="/img/{{ product.image }}" alt="{{ product.name }} visual" />
					<figcaption>{{ product.name }}</figcaption>
				</figure>

				<div class="card-body">
					<h2 class="card-title">{{ product.name }}</h2>
					<p class="card-text">{{ product.description }}</p>
				</div>
			</a>
		</li>
	{% endfor %}
	</ul>
{% endblock %}
