{% extends 'layout/index.twig' %}

{% block body %}
	<ul class="listing">
	{% for product in products %}
		<li>
			<div class="card">
				<figure>
					<img class="card-img-top" src="/img/{{ product.image }}" alt="Alt text" />
					<figcaption>{{ product.name }}</figcaption>
				</figure>

				<div class="card-body">
					<span>
						<h1 class="card-title">{{ product.name }}</h1>
					</span>
					<h6 class="card-text">{{ product.description }}</h6>
					<a class="btn btn-primary" href="/products/view/{{ product.id }}" title="View more">
						<button>
							View More
						</button>
					</a>
				</div>
			</div>
		</li>
	{% endfor %}
	</ul>
{% endblock %}
