{% extends 'layout/index.twig' %}

{% block header %}
    <h1 class="text-center text-light">{{ product.name }}</h1>
{% endblock %}

{% block body %}
    <div>
        <figure>
            <img class="card-img-top" src="/img/{{ product.image }}" alt="{{ product.name }} visual" />
            <figcaption>{{ product.name }}</figcaption>
        </figure>
    </div>
    <div>
        <p>{{ product.description }}</p>
        <p>Stock level: {{ product.stock }}</p>
        <a class="btn btn-primary" href="/products/cart/{{ product.id }}">Buy</a>
    </div>
{% endblock %}
